spring:
  application.name: memo-bot
  datasource:
    url: jdbc:h2:file:/app/data/botdb;DB_CLOSE_ON_EXIT=FALSE
    username: ${H2_USER}
    password: ${H2_PASSWORD}
    driverClassName: org.h2.Driver
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
  jpa:
    open-in-view: false
  liquibase:
    change-log: classpath:database/changelog-master.yaml
    user: ${H2_USER}
    password: ${H2_PASSWORD}
  h2:
    console:
      enabled: true
      path: /h2-console
bot:
  base-url: https://api.telegram.org/bot
  api-key: ${TELEGRAM_API_KEY}
  cleanup:
    scheduler:
      delay-ms: 3600000 # once in 1 hour

backend:
  url: ${BACKEND_URL}
  bot-secret-header: ${BOT_SECRET}